@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-bg text-slate-800 font-sans antialiased min-h-screen selection:bg-brand-500 selection:text-white;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F2FAFD;
}

::-webkit-scrollbar-thumb {
  background: #BAE6FD;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38BDF8;
}
